.splash-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.splash-div {
  padding-top: 300px !important;
}
.splash-text {
  padding: 20px;
  text-align: center;
}
.splash-text-col {
  display: block;
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
}
.splash-backgroud {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: #b30838 !important;
  background: linear-gradient(120deg, #b30838, #b30838);
}
