@import "~antd/dist/antd.css";

.navHeaderMenu {
  line-height: 60px;
  height: 61px;
}
body {
  overflow-y: visible;
  overflow-x: hidden;
  background-color: #ededed !important;
}

.navSearch {
  justify-content: flex-end;
}

.ml-3 {
  width: 30% !important;
}

.main-content .header-navbar,
.main-content > .main-navbar {
  border-bottom: 1px solid #d8d5d5;
  box-shadow: none !important;
}

.main-sidebar {
  border-right: 1px solid #d8d5d5;
  box-shadow: none !important;
}

.ant-form {
  padding: 1% 2% !important;
}

.successmsg {
  color: green;
  font-size: 18px;
}

.errormsg {
  color: red;
  font-size: 18px;
}
.main-navbar {
  border-bottom: 1px solid #d8d5d5 !important;
}
header nav.navbar.navbar-dark.fixed-top.bg-dark.row {
  padding: 0rem 1rem !important;
}
.summary {
  border: 1px solid #d2d2d2;
  background: #f0f0f0;
}
.summary:first-child {
  border-radius: 4px 0 0 4px;
}
.summary:last-child {
  border-radius: 0 4px 4px 0;
}
.header label {
  color: #fff;
  margin: 0 auto;
  padding-right: 0.5rem;
  font-size: 13px !important;
}
.header input.btn.btn-secondary {
  padding: 0.45rem 0.7rem !important;
  font-size: 0.875rem !important;
  margin: 0 0.5rem 0 0;
  background-color: inherit !important;
  border: 2px solid #ccc !important;
}
.header input.btn.btn-secondary:hover {
  background-color: #fff !important;
  color: #111;
}
.header .form-group {
  margin-bottom: 0rem;
}
form.header {
  flex-direction: column;
  align-items: flex-start !important;
}
.form-group-info {
  align-content: center;
  display: flex;
  align-items: center;
}
.main-content .main-navbar .navbar-light .header-main-menu{
  display: flex !important;
  align-items: center!important;
  justify-content: space-between!important;
  width: 100%;
  flex-direction: row;
  padding:0 1rem !important;
}
.form-group-info.header-logo {
  position: relative;
}
.header-dp-menu{
  display: flex;
}
.header-dp-menu .form-group-info{
  padding: 0 0.5rem;
}
.form-group-info.header-logo .left-sec,
.form-group-info.header-logo .right-sec {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
.form-group-info.header-logo .right-sec {
  font-size: 10.5px !important;
  text-transform: capitalize;
}
.form-group-info .ant-select-selection--single {
  min-width: 140px !important;
  font-size: 12px !important;
  background-color: inherit;
  border: 2px solid #ccc;
  box-shadow: none !important;
}

.form-group-info .ant-select-selection__placeholder {
  color: #fff !important;
}
.form-group-info .ant-select-selection-selected-value {
  color: #fff !important;
  font-weight: bold !important;
}
.form-group-info .ant-select-arrow svg {
  color: #fff !important;
}
.ant-select-dropdown {
  min-width: 170px !important;
}
.ant-select-dropdown-menu-item {
  font-size: 13px !important;
  word-break: break-all !important;
  white-space: inherit !important;
  text-overflow: inherit !important;
  border-bottom: 1px solid #ddd !important;
}
.ant-select-dropdown-menu-item:hover {
  background-color: #b30838 !important;
  color: #fff !important;
}
.ant-select-dropdown-menu-item:last-child {
  border-bottom: none !important;
}

.header .form-group .col-form-label {
  padding: calc(0.375rem + 1px) !important;
}
.header .header-logo-text {
  padding-left: 0.475rem !important;
  font-size: 0.675rem !important;
}
.header .form-control {
  padding: 0.25rem;
}
.pv_logo {
  max-width: 280px !important;
  margin: 0% !important;
  cursor: pointer;
}
.content-row {
  padding: 1rem !important;
  margin: 0 auto !important;
}
ul.list-group {
  margin: 10px auto;
}
.list-group-item {
  padding: 0.5rem 1.25rem;
}
.remove-border {
  border-right: none;
}
.header {
  background-color: #b30838 !important;
  padding:0!important;
}
.download-button {
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  width: 130px;
  margin: 10px auto 0px auto;
}
.cta-section {
  min-height: 95vh;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cta-section .cs-btn-group .ant-btn {
  width: 100% !important;
  margin: 0 0 0.5rem 0 !important;
  background-color: #ccc !important;
  border: 2px solid #ccc !important;
  position: relative;
  color: #5c5f5f;
  font-size: 12px !important;
}
.cta-section .cs-btn-group .ant-btn:hover,
.cta-section .cs-btn-group .ant-btn.active {
  background-color: #b30838 !important;
  color: #fff !important;
  border-color: #b30838 !important;
}
.cta-section .cs-btn-group .ant-btn.active:hover{
  background-color: #fff !important;
  color: #b30838 !important;
  border-color: #b30838 !important;
}
.main-navbar .navbar .nav-link {
  background-color: #62a5b7 !important;
}
.main-navbar .navbar .dropdown-toggle::after {
  position: relative;
  right: 10px;
}

.Test_execuation,
.open_defeccts {
  position: relative;
}

.cs-btn-group .ant-btn-primary {
  padding: 0% 1% !important;
  margin: 1% 1% !important;
  font-size: 14px !important;
  min-width: 40% !important;
}
.project_view_btn .ant-btn-primary {
  padding: 0% 1% !important;
  margin: 1% 1% !important;
  font-size: 13px !important;
  min-width: 0% !important;
}
.report_status .ant-dropdown-trigger {
  float: right !important;
}
.risk_issues {
  min-height: 80px !important;
}
.project_details {
  height: 165px;
  overflow-y: scroll;
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 1rem !important;
}

.project_details > .summary {
  padding: 10px 10px;
}

.project_details label,
.project_details p {
  word-break: break-all !important;
  font-size: 12px !important;
  margin: 0 auto !important;
  /* padding: 0.5rem 0.5rem 0 0.5rem !important; */
}
.project_details a {
  word-break: break-all !important;
  font-size: 12px !important;
  /* padding: 5% !important; */
}
.project_status {
  padding: 10px !important;
  font-size: 12px !important;
}
.status_msg {
  margin-left: -13%;
  font-size: 14px;
  width: 122% !important;
  max-width: 122% !important;
}
.release_history {
  border: 1px solid #696464;
  background: white;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 4px 4px;
}
.chart {
  margin-top: 2%;
}
.highcharts-text-outline {
  font-size: 0px !important;
}
.highcharts-text-outline .tspan {
  text-decoration: none !important;
}
.current_date {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.page-wrapper {
  background-color: #fff !important;
  margin: 1rem !important;
  border-radius: 4px;
  padding-bottom:0.25rem;
}
.pro-info {
  padding: 0.75rem 0 0;
}

.pro-info button {
  background-color: #b30838 !important;
  color: #fff;
}
.pro-info p {
  margin: 0 auto;
  font-size: 0.875rem;
}
.pro-info h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 0.2rem;
}
.pro-history {
  margin: 0rem 1rem 1rem 1rem !important;
  border-radius: 4px !important;
  padding: 1rem 1rem 1rem 1rem !important;
  border: 1px solid hsl(0, 0%, 82%);
  background: #f0f0f0 !important;
}
.sm-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:90%;
  margin:0 auto;
}
.sm-modal-content .sm-report-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom:1rem;
}
.sm-modal-content .sm-report-option .ant-select-selection{
  height: auto;
  padding: 0.25rem 0;
}
.sm-report-terms-condition{text-align: left;max-width: 90%;margin:0 auto 1rem auto;line-height: normal;}
.summary_table {
  padding: 0 !important;
}
.summary_table .ant-table-bordered .ant-table-thead > tr > th {
  background-color: #424242 !important;
  color: #fff !important;
  border-color: #616161 !important;
  padding: 0.5rem;
  font-size: 13px !important;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr > td {
  font-size: 13px !important;
  padding: 0.69rem 0.5rem !important;
  word-break: break-all;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr > td:nth-child(2) {
  margin: auto;
  text-align: center;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr > td:nth-child(2) a {
  display: block !important;
  word-break: break-all !important;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr > td:first-child {
  max-width: 50px;
  text-align: center !important;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr > td:last-child {
  max-width: 200px;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr:hover > td {
  background-color: #b30838 !important;
  color: #fff !important;
}
.summary_table .ant-table-bordered .ant-table-tbody > tr:hover > td a {
  color: #fff !important;
}
.summary_table table {
  background-color: #fff !important;
}
.ant-table-pagination.ant-pagination {
  display: block;
  background-color: #fff !important;
  padding: 1rem !important;
  margin: 0 auto !important;
  border: 1px solid #e8e8e8 !important;
  border-top: none !important;
  text-align: right !important;
  width: 100% !important;
}
.Test_execuation,
.open_defeccts {
  width: 100%;
  border: 1px solid #d2d2d2;
  padding: 1rem;
  border-radius: 4px;
  background-color: #fff;
}
.cta-section.pro-view .cs-btn-group .ant-btn {
  cursor: pointer;
}
.row.cta-section.pro-view {
  align-items: inherit;
  margin: 1rem 1rem 0rem 1rem;
  border: 1px solid #d2d2d2;
  padding: 1rem 1rem 0rem 0rem;
  border-radius:4px;
}
.row.cta-section.pro-view .cta-section {
  min-height: inherit !important;
}
.content-info-section {
  display: block;
  margin: 1rem;
  clear: both;
  padding:0 0 0.9375rem 0.9375rem;
  width: 100%;
}
.content-info-section h5 {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}
.content-info-section p {
  word-break: break-all !important;
  font-size: 0.875rem !important;
  margin-bottom: 0.5rem;
  text-align: left;
}
.content-info-section.col-md-12.testkeyHistory {
  padding: 0 15px !important;
  margin: 1rem auto 0 auto;
  background-color:#fff;
}
.content-info-section .bg-sec {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
}
.content-info-section table {
  margin-bottom: 1rem !important;
}
.content-info-section table th {
  background-color: #424242 !important;
  color: #fff !important;
  border-color: #616161 !important;
  padding: 0.5rem;
  font-size: 13px !important;
}
.content-info-section table tr > td:first-child {
  text-align: center;
}
.content-info-section table tr > td {
  font-size: 13px !important;
  padding: 0.4rem 0.5rem !important;
  word-break: break-all;
}
.content-info-section table tr:hover > td {
  background-color: #b30838 !important;
  color: #fff !important;
}
.content-info-section table tr:hover > td span{
  color: #fff !important;
}
.tabletd {
  display: block;
  text-align: left;
  text-decoration: underline !important;
  color: #0056b3 !important;
  font-weight: 600 !important;
}
.report-menu .ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: #b30838 !important;
  color: #fff !important;
  font-size: 12px !important;
}
.report-menu .ant-dropdown-menu-item:hover .disabled {
  pointer-events: none;
  cursor: not-allowed;
}
.projct-status {
  font-weight: 700 !important;
}
.test-execution-btn {
  padding: 0% 7% !important;
}
.open-defects-btn-summary {
  padding: 0rem 1rem 0rem 1rem !important;
}
.test-execcution-chart,
.open-defects-chart {
  height: 550px !important;
}
.release-history-tble {
  margin: 0px 0% 1% 0% !important;
}
.cs-btn-group.open-defects-btn div:first-child {
  padding-left: 0 !important;
}
.cs-btn-group.open-defects-btn div:last-child {
  padding-right: 0 !important;
}
.summary_table .ant-table-bordered .ant-table-thead > tr > th:nth-child(3) {
  min-width: 70px !important;
}
.open_defeccts.open-defects-chart .chartjs-render-monitor {
  width: 80% !important;
  height: 80% !important;
  position: relative !important;
  top: 1.25rem !important;
}
.tablesmile {
  display: block;
  text-align: center;
}
.ant-btn-primary:active,
.ant-btn-primary.active {
  color: #fff;
  background-color: #b50939;
  border-color: #b50939;
}
.myDiv {
  background-color: grey;
  text-align: center;
  cursor: none;
}
.cta-section {
  /* text-align: left;  */
  font-size: 0.8rem;
}
.remarks-style {
  text-align: left;
}
.pdfbtn {
  margin-left: 5px;
}
.header-txt {
  margin-top: -2px !important;
}
.pdf-view {
  text-align: center !important;
}
.pdf-headline-text {
  /* text-decoration: underline!important; */
  font-weight: bold !important;
  color: #5a6169 !important;
  font-size: 1.2rem !important;
}

.pdf-view-table {
  margin-left: 20px;
  width: 98% !important;
  padding: 2 !important;
}
.pdf-view-align {
  padding-left: 400px !important;
}
.text-size {
  font-size: 0.875rem;
}
.open-defects-chart-new {
  height: 508px !important;
  margin-left: 10px !important;
}
.open-defect-canvas {
  display: block;
  width: 879px;
  height: 410px;
}
.pdf-summary {
  text-align: left !important;
  border: 2px solid #f0f0f0;
  margin-bottom: 100px;
  background-color: #f0f0f0;
}
.pdf-tablesmile {
  display: block;
  text-align: left;
}
.pdf-table-align {
  text-align: left !important;
}
.ant-table-pagination.ant-pagination {
  display: block;
  background-color: #fff !important;
  padding: 1rem !important;
  margin: 0 auto !important;
  border: 0px solid #e8e8e8 !important;
  /* border-top: none !important; */
  text-align: right !important;
  width: 100% !important;
}
.ant-empty-description {
  margin: 0;
  text-align: center !important;
}
.summary-status {
  padding-right: 50px !important;
}
.header-btn {
  background-color: #b50939 !important;
  border-color: white !important;
  color: white !important;
  margin-left: 10px;
}
.header-btn-style {
  padding-left: 850px !important;
}
.header-btn-cancel {
  padding-left: 50px;
  padding-right: 50px;
}
.ant-modal-footer {
  text-align: center;
}

.ant-btn-primary {
  color: #fff;
  background-color: #b50939;
  border-color: #b50939;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}
.ant-btn {
  color: #fff;
  background-color: #b50939;
  border-color: #b50939;
  text-align: center;
}
.ant-btn:hover {
  background-color: #b50939 !important;
  border-color: #b50939;
  color: #fff;
}
.ant-modal-title {
  text-align: center;
}
.ant-checkbox-input {
  background-color: #b50939;
  border-color: #b50939;
}
.ant-modal-body {
  text-align: center;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #c4183c;
  border-color: #c4183c;
}
.ant-modal-footer {
  border-top: 1px solid #e8e8e8;
}

.pdf-view-section {
  align-items: inherit;
  margin: 1rem 1rem 0rem 1rem;
  /* border: 1px solid #d2d2d2; */
  padding: 1rem 1rem 0rem 0rem;
}
.header-btn-pad {
  padding-left: 55rem;
}
.ant-modal-close {
  color: rgba(0, 0, 0, 0.85);
}
.summary-view {
  font-size: 0.875rem;
}
.summary-view-color {
  background-color: #f0f0f0;
}
.tabledata {
  display: block;
  text-align: left;
  font-weight: 600 !important;
}
.text-color {
  color: black !important;
}
.pdf-btn-pad {
  padding-left: 80rem;
}
.background-div {
  background: white;
}
.test-execution.test-execcution-chart  {
  border: 1px solid #d2d2d2 !important;
  border-radius: 4px;
  background: #fff;
  padding: 1rem;
}
.pdf-generation {
  margin: 1rem;
  padding: 1.5rem;
  border-radius:6px;
}
.pdf-generation .pdf-action-btn,.defects-details-info{
  padding:1rem 1.5rem 0 1.5rem !important;
  margin: 0 auto !important;
}
.pdf-generation .canvas_div_pdf .cs-btn-group.open-defects-btn{
    display: flex;
}
.pdf-generation .canvas_div_pdf .cs-btn-group.open-defects-btn .open-defects-action-btn{
    display: flex;
    padding:0 1rem;
    width:100%;
}
.pdf-generation .pdf-headline-text{
  text-align: left;
}
.pdf-generation .page-wrapper{
  padding:0 1.5rem !important;
  margin:0 !important;
}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table{
  padding:0 !important;
  margin:0 !important;
  width:100% !important;
}
.pdf-generation .page-wrapper .pdf-view .summary-status{
  padding-right: 15px !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}
.pdf-generation .page-wrapper .summary-status{
  padding-right: 15px !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}
.pdf-generation .canvas_div_pdf .cta-section{
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}
.pdf-generation .canvas_div_pdf .cta-section .cs-btn-group{
  padding-left: 0 !important;
}
.pdf-generation .content-info-section .open-defects-table-wid{width:100% !important;}
.pdf-generation .content-info-section .open-defects-table-wid table{border:0 !important;}
.pdf-generation .content-info-section .open-defects-table-wid table thead th{border-top:none !important;}
.pdf-generation .content-info-section .open-defects-table-wid table tbody{border:1px solid #dee2e6 !important;}
.pdf-generation .content-info-section .open-defects-table-wid table thead th:first-child{border-top-left-radius:4px;}
.pdf-generation .content-info-section .open-defects-table-wid table thead th:last-child{border-top-right-radius:4px;}
.pdf-generation .content-info-section .open-defects-table-wid table tbody tr td{font-weight:400;}
.pdf-generation .canvas_div_pdf .cta-section{
  padding-top:0;
  padding-right: 0;
}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table .ant-table-row .tabletd-pdf{
  color: rgba(0, 0, 0, 0.65) !important;
}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table .ant-table-row:hover .tabletd-pdf{
  color: #fff !important;
}
.pdf-generation .canvas_div_pdf .cta-section .cs-btn-group .open-defects-btn{
  padding-left: 0 !important;
}
.pdf-generation .canvas_div_pdf .cta-section.pro-view .open_defeccts.open-defects-chart{margin-left: 0 !important;}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table table{border:none !important;}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table .ant-table-row td:first-child{border-left:1px solid #e8e8e8 !important;}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table .ant-table-row:last-child td:first-child{border-bottom-left-radius:4px;}
.pdf-generation .page-wrapper .pdf-view .pdf-view-table .ant-table-row:last-child td:last-child{border-bottom-right-radius:4px;}
.pdf-generation .canvas_div_pdf .cta-section .test-execcution-chart.cs-btn-group{padding:1rem !important}
.pdf-generation .content-info-section .content-info-section.detailed-report {padding-right:15px !important;}
.pdf-generation button:hover{background-color:#fff !important;border:2px solid #b50939 !important;color:#b50939 !important;}
.border-change {
  border: 0px solid white !important;
}
.ant-message {
  top: 60px;
}
.header-text-div {
  padding-left: 0px;
  /* padding-right: 5px; */
}
.project-data {
  font-size: 12px !important;
}
.defects-table {
  text-align: left !important;
  border: 1px solid #ccc !important;
}
.defects-row {
  text-align: left !important;
}
.release-page-btn {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 30%;
}
.project-page-btn {
  position: absolute;
  top: 55px;
  right: 16px;
  width: 30%;
}
.pdf-page-btn {
  /* width: 30%!important; */
  float: right !important;
}
.content-info-section table th {
  font-size: 18px !important;
}
.mvp-btn {
  top: 0.5px !important;
}
.exp-text {
  color: white;
  font-size: 14px;
  font-weight: 500px;
}
.sm-report-info{display: flex;align-items: center;justify-content: flex-start;padding-top:0.5rem;}
.sm-report-info .sm-report-action{padding-right:0.5rem;}
.sm-report-info .sm-report-action span{cursor: pointer;}
.pro-info .projct-status-info{display: flex;align-items: center;justify-content: flex-start;}
.pro-info .login-btn a{margin-top:0.5rem !important;padding:0.5rem 0.975rem !important;}
.pro-info .login-btn a{border:2px solid #b30838;}
.pro-info .login-btn a:hover{color: #b30838;background-color:#fff;border:2px solid #b30838;}
.report {
  display: inline-block;
  color: #b30838;
  font-size: 25px;
}
.ant-select-dropdown-menu-item-selected {
  color: #b30838;
  font-weight: 600;
  /* background-color: #fff; */
}
.login-btn a {
  background-color: #b30838;
  border-radius: 0.25rem !important;
  outline: 0;
  border: none;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
  padding: 0.5rem 0.5rem !important;
  margin: 1rem 0 !important;
  transition: 0.3s;
  display: inline-block;
  cursor: pointer;
  line-height: initial;
  font-weight: 400;
}
.login-btn a:hover {
  color: #fff;
  text-decoration: none;
}
.tabletd-pdf {
  display: block;
  text-align: left;
  color: #0056b3 !important;
  font-weight: 600 !important;
}
.summary-text{
  font-size: 0.875rem;
}
.tabletd-pdf {
  display: block;
  text-align:left;
  color: #0056b3 !important;
  font-weight: 600 !important;
}
.open-defects-table-wid{
  width: 98%;
}
.pdf-view-chart{
  margin-left: 0.3px!important;
    width: 99% !important;
}
#canvas_div_pdf1 .pdf-view-chart{width:100% !important;}
#canvas_div_pdf1 .content-info-section{margin:1rem 0;padding-left: 0;}
.pdf-generation .canvas_div_pdf,
.pdf-generation .canvas_div_pdf1{padding:0.5rem 1.5rem 0.5rem 1.5rem}
.detailed-report{
  margin-left: 1px !important;
}
.detail-status-alignment{
  margin-left: 15px;
}
.ant-message {
  font-size: 20px;
  line-height: 3.5;
}
.ant-message-notice-content {
  padding: 15px 200px;
}
.summary-scroll{
  height: 180px !important;
  overflow-y: hidden !important;
}
.testkeyHistory{
  margin-left: 1px !important;
  padding-right: 35px !important;
}

.pdf-test-exec{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.heading-pdf{
  padding-left: 280px !important;
}
.ant-typography strong {
  font-weight: bolder;
}

.animated-pdf{
  height: 30px;
  width: 100%;
}
.ant-back-top-content {
  background-color: #b30838;
}
.pdfpage-icons{
  position: relative;
  bottom: 3px;
}
.edit-icon{
  font-size: 15px;
    position: relative;
    bottom: 4px;
}
.defects-table-projectview{
  text-align: left !important;
  border: 1px solid #ccc !important;
  height: 430px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
}

.story-table-projectview{
  text-align: left !important;
  border: 1px solid #ccc !important;
  height: 430px;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: auto;
}

.defect-header{
  background-color: #424242 !important;
  color: #fff !important;
  border-color: #616161 !important;
}

.defect-table-bdy{
  border: 0.5px solid #ccc !important;
}

.ant-switch-checked {
  background-color: #b30838;
}

.switch-btn{
    width: 100% !important;
    margin: 0 0 0.5rem 0 !important;
    /* border: 2px solid #ccc !important; */
    position: relative;
    font-size: 12px !important;
    padding: 0% 1% !important;
}

.switch-icon{
  font-size: 25px;
}

.ant-switch{
  background-color: #c4183c;
}

.switch{
  border-radius: 10px;
  background-color: #c4183c;
  color:#ffff;
  vertical-align: baseline !important;
}
.switch1{
  background-color: #ccc;
  color:#111;
  vertical-align: baseline !important;
}
.switch-icon-div{
  /* border: 1px solid #ccc  !important; */
  width: 100% !important;
    margin: 0 0 0.5rem 0 !important;
    background-color: #ccc !important;
    border: 2px solid #ccc !important;
    position: relative;
  border-radius: 10px;
  font-size: 23px;
}

.switch-icon-story{
  /* border: 1px solid #ccc !important;  */
  width: 100% !important;
  margin: 0 0 0.5rem 0 !important;
  background-color: #ccc !important;
  border: 2px solid #ccc !important;
  position: relative;
  border-radius: 5px;
  font-size: 19px;
}
.row-switch{
  border-radius: 20px;
}
.anticon {
  vertical-align: baseline !important;
}
.respon{
    width: 75% !important;
}
